body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', 'Audiowide', sans-serif;
  cursor: default;
}

header {
  position: relative;
  z-index: 2000; /* higher than terms box */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.termsAndConditions {
  margin: 100px auto 50px auto; /* leaves space for navbar */
  width: 90%;
  max-width: 1300px;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  z-index: 1000; /* stays below header */
}


.termsAndConditionsHeading{
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 32px;
}

.spangleWelcome {
  font-family: "Caveat", cursive;
  font-weight: 600; 
  font-style: normal;
  font-size: large;
  color: rgb(40, 143, 143);
}


.termsParagraphIntro{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.spangleWelcome{
  font-weight: 500;
}
.serviceLeadingSection{
  width: 80%;
  margin-top: 15px;
  margin-bottom:15px;
}
.sn{
  font-size: 32px;
  padding-right: 5px;
}
.st{
  font-size: 32px;
}
.spl{
  margin-top: 15px;
  margin-bottom: 15px;

}
.serviceInfoContainer{
  position:relative;
  width: 100%;    
}
.serviceLead{
  font-weight: 700;
  margin-left: 15px;  
  margin-top: 15px;
  margin-block-end: 5px;  

}
.serviceDetails{
  margin-left: 15px;
}

.displayNone{
  display:none;
}
.secionLine{
  height: 40px;
  width:5px;

  position:absolute;
  top:7px;
}
/*Font Colours below*/
.lightGreen{
  color: rgb(5, 167, 167);
}
.blue{
  color: rgb(5, 167, 167);
}
.orange{
  color:rgb(5, 167, 167);
}
.purple{
  color: rgb(5, 167, 167);
}

/*Set the colours for the lines*/

.lineColorGreen{
  background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(0, 255, 204));
}
.lineColorBlue{
  background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(0, 255, 204));
}
.lineColorOrange{
  background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(0, 255, 204));
}
.lineColorPurple{
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 255, 204))
}
.closeTerms{
  border-bottom: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.fadeIn{
  animation-name: fadeIn;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  z-index: 1001;
}




@keyframes fadeIn{
  0% {

    opacity: 0;
  }
  100%{

    opacity: 1;
  }
}

.banner {
  width: 100%;
  margin: 0;
  padding: 0;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  /* removes extra space */
}

.termsAndConditions {
  margin: 20px auto 50px auto; /* smaller gap below banner */
}
