body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', 'Audiowide', sans-serif;
  cursor: default;
}

header {
  position: relative;
  z-index: 2000;
  /* higher than terms box */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


.termsAndConditions {
  margin: 100px auto 50px auto;
  /* leaves space for navbar */
  width: 90%;
  max-width: 1300px;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  z-index: 1000;
  /* stays below header */
}


.termsAndConditionsHeading {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 32px;
}

header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.4s ease;
  z-index: 9999;
  background-color: none;
  box-shadow: none;
}

header.hide-nav {
  transform: translateY(-100%);
}

body {
  padding-top: 100px;
}





.spangleWelcome {
  font-family: "Caveat", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: large;
  color: rgb(40, 143, 143);
}


.termsParagraphIntro {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.spangleWelcome {
  font-weight: 500;
}

.serviceLeadingSection {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sn {
  font-size: 32px;
  padding-right: 5px;
}

.st {
  font-size: 32px;
}

.spl {
  margin-top: 15px;
  margin-bottom: 15px;

}

.serviceInfoContainer {
  position: relative;
  width: 100%;
}

.serviceLead {
  font-weight: 700;
  margin-left: 15px;
  margin-top: 15px;
  margin-block-end: 5px;

}

.serviceDetails {
  margin-left: 15px;
}

.displayNone {
  display: none;
}

.secionLine {
  height: 40px;
  width: 5px;

  position: absolute;
  top: 7px;
}

/*Font Colours below*/
.lightGreen {
  color: rgb(5, 167, 167);
}

.blue {
  color: rgb(5, 167, 167);
}

.orange {
  color: rgb(5, 167, 167);
}

.purple {
  color: rgb(5, 167, 167);
}

/*Set the colours for the lines*/

.lineColorGreen {
  background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(0, 255, 204));
}

.lineColorBlue {
  background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(0, 255, 204));
}

.lineColorOrange {
  background-image: linear-gradient(to right bottom, rgb(255, 255, 255), rgb(0, 255, 204));
}

.lineColorPurple {
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 255, 204))
}

.closeTerms {
  border-bottom: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  z-index: 1001;
}




@keyframes fadeIn {
  0% {

    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}

.banner {
  width: 100%;
  margin: 0;
  padding: 0;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  /* removes extra space */
}

.termsAndConditions {
  margin: 20px auto 50px auto;
  /* smaller gap below banner */
}



/* -------- MOBILE VIEW -------- */
@media (max-width: 768px) {
  .site-footer {
    padding: 30px 20px;
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .logo img {
    max-width: 60px;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    width: 100%;
    max-width: 400px;
  }

  .footer-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /* Hide all links except the heading (first <b> tag) */
  .footer-nav ul li:not(:first-child) {
    display: none;
    padding-left: 15px;
  }

  /* Style the heading with + icon */
  .footer-nav ul li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 12px 0;
    font-weight: bold;
    user-select: none;
  }

  /* Add the + icon */
  .footer-nav ul li:first-child::after {
    content: "+";
    font-size: 1.5em;
    font-weight: bold;
    transition: transform 0.3s ease;
  }

  /* When accordion is active, show all items */
  .footer-nav ul.active li:not(:first-child) {
    display: block;
    animation: slideDown 0.3s ease;
  }

  /* Change + to − when active */
  .footer-nav ul.active li:first-child::after {
    content: "−";
    transform: rotate(180deg);
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .newsletter {
    max-width: 100%;
    margin: 0 auto;
  }

  .newsletter form {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .newsletter input[type="email"] {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .newsletter button {
    width: 100%;
  }

  .social-icons {
    margin-top: 20px;
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    font-size: 0.85em;
  }

  .footer-p {
    font-size: 0.8em;
    margin-top: 10px;
  }

  .terms {
    margin-top: 15px;
    font-size: 0.75em;
  }
}